fastapi
requests
aiohttp
numpy
pandas
matplotlib
scipy
seaborn
pillow
protobuf
pyparsing
wcwidth
wget
wrapt
importlib-resources
more-itertools
threadpoolctl
joblib
kiwisolver
cycler
markdown-it-py
mdurl
smart-open
sqlitedict
tabulate
plotly
dash
beautifulsoup4
boto3
botocore
jmespath
mpld3
s3transfer
unicorn
uvicorn